header{
    background: #6edae6 url('../image/pattern.png');
    background-size: contain; 
    background-repeat:repeat;
}

.logo {
    max-width: 100px; max-height: 100px;
    padding-top: 30px; padding-bottom: 30px;
}

main {
    width: 80%;
}

h1{
    font-size: 30px;
    padding-bottom: 0cm;
}

.article-data {
    font-size: 12px;
}

.scrittore {
    color: aqua;
}

.date {
    font-size: 11px;
}

figure {
    margin-left: 0px;
    width: 900px;
}

figure img {
    max-width: 50%;
    height: 300px;
}

figcaption {
    font-size: 10px;
}

section {
    font-size: 14px;
}

.underlined {
    background-color: yellow;
}

ul {
    padding: 10px;
}

table {
    width: 1200px;
    font-size: 15px;
}

.table-column {
    width: 25%;
}

.description-column {
    width: 50%;
}

thead {
    background-color: #6edae6;
    color: white;
}

.rowcolor {
    background-color: rgb(159, 222, 201);
}